<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista igara 🕹️</title>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<header>
    <h1>GAME STORE 🕹️</h1>
    <nav>
        <a href="/games">🕹️ Igrice</a> |
        <a href="/reviews">★ Recenzije</a>
    </nav>
    <hr>
</header>

<h2>🕹️ Dostupne igre</h2>

<div class="game-grid">
    <div class="game-card" th:each="game : ${games}">
        <img th:src="${game.imageUrl}" th:alt="${game.title}"/>
        <h3 th:text="${game.title}"></h3>
        <p><b>Žanr:</b> <span th:text="${game.genre}"></span></p>
        <p><b>Platforma:</b> <span th:text="${game.platform}"></span></p>
        <p><b>Ocjena:</b> <span th:text="${game.rating}"></span></p>
        <p><b>Cijena:</b> $<span th:text="${game.price}"></span></p>
        <a class="btn" th:href="@{'/game/action/' + ${game.id}}">Detalji 🎮</a>
    </div>
</div>

<footer>
    <hr>
    <p style="text-align:center;">© 2025 Game Store</p>
</footer>

</body>
</html>
